<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>

<h1>Pig Latinizer!</h1>

<form method="POST" action="/piglatinize">
Enter your phrase: <input type="text" name="user_phrase">
<input type="submit" value="do it">
</form>
</body>
</html>

# <p>Put Yo Stuff</p>
# <textarea name="user_text"></textarea>
# <br>
# <button type="submit" value="submit">Submit</button>
# </form>

# </body>
# </html>
